@media print {
  /* line 8, print.scss */
  * {
    text-shadow: none !important;
    color: #000 !important;
    border-color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  /* line 16, print.scss */
  a,
  a:visited {
    text-decoration: underline;
    border: none;
  }

  /* line 22, print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 26, print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 31, print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /*pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }*/
  /* line 42, print.scss */
  thead {
    display: table-header-group;
  }

  /* line 46, print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 51, print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 55, print.scss */
  p, h2, h3, h4, h5 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, print.scss */
  select {
    background: #fff !important;
  }
}
