<nav class="nav-meta">
    <ul>
        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Concepts</a></li>
    </ul>
</nav>