<nav class="menu nav-main" role="navigation">
    <ul class="level-1">
        <li class="has-subnav"><a href="{{ url }}">The Enterprise</a>
            <ul class="level-2">
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
            </ul>
        </li>
        <li class="has-subnav"><a href="{{ url }}">The Market</a>
            <ul class="level-2">
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
            </ul>
        </li>
        <li class="has-subnav"><a href="{{ url }}">Engage With Us</a>
            <ul class="level-2">
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
                <li><a href="{{ url }}">Menu Item</a></li>
            </ul>
        </li>
    </ul>
</nav>