<nav class="nav-main" role="navigation">
    <ul>
        <li><a href="{{ url }}">Home</a></li>
        <li><a href="{{ url }}">About</a></li>
        <li><a href="{{ url }}">Service</a></li>
        <li><a href="{{ url }}">Our Doctors</a></li>
        <li><a href="{{ url }}">Pet Owners</a></li>
        <li><a href="{{ url }}">Veterinarians</a></li>
        <li><a href="{{ url }}">News &amp; Events</a></li>
        <li><a href="{{ url }}">Online Pharmacy</a></li>
        <li><a href="{{ url }}">Contact Us</a></li>
        <li><a href="{{ url }}">Search</a></li>
    </ul>
</nav>