<nav class="nav-footer">
    <ul>
        <li><a href="{{ url }}">Contact</a></li>
        <li><a href="{{ url }}">FAQs</a></li>
        <li><a href="{{ url }}">Privacy Policy</a></li>
        <li><a href="{{ url }}">Terms of Use</a></li>
    </ul>
</nav>