<nav class="nav-footer">
    <ul>
        <li><a href="{{ url }}">Resources</a></li>
        <li><a href="{{ url }}">Terms of Use</a></li>
        <li><a href="{{ url }}">Privacy Policy</a></li>
        <li><a href="{{ url }}">Hickory Puppies</a></li>
        <li><a href="{{ url }}">Hickory Pet Inn</a></li>
        <li><a href="{{ url }}">Hickory Foundation</a></li>
    </ul>
</nav>