<nav class="nav-secondary {{styleModifier}}">
    <ul>
        <li class="current"><a href="#">Approach</a></li>
        <li><a href="#">Build</a></li>
        <li><a href="#">Outcomes</a></li>
    </ul>
</nav>