<ul class="social-media">
    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
</ul>
