<article class="sidebar-article contributor">
    <div class="article-text">
        <h3>{{ author.first-name }} {{ author.last-name }}</h3>
		{{>atoms-paragraph}}
    </div>
    {{>atoms-image-square}}
</article>