<article class="sidebar-article related_publications">
    <h2>Publications</h2>
    <ul>
        {{#listItems.one}}
        <li>
            {{>atoms-image-portrait}}
            <a href="{{ url }}">{{ headline.medium }}</a>
        </li>
        {{/listItems.one}}
    </ul>
</article>