<article class="sidebar-article related_posts">
    <h2>Related Posts</h2>
    <ul>
        {{#listItems.three}}
        <li>
            <p><a href="{{ url }}">{{ headline.short }}</a></p>
            {{>atoms-date}}
        </li>
        {{/listItems.three}}
    </ul>
</article>