<article class="sidebar-article appointment-times">
	<div class="sidebar-article-title">
		<h3>Appointments</h3>
	</div>
	<p>{{day.name}} {{hour.short}}{{hour.ampm}}–{{hour.short}}{{hour.ampm}}</p>		
</article>