{{> organisms-header }}
<div class="container">
	{{>molecules-breadcrumbs}}
	<h1>{{headline.short}}</h1>
	{{>molecules-intro}}
	{{>molecules-figure-with-caption}}
	<div class="primary">
		{{>organisms-body-text}}
		{{>atoms-stats}}
	</div>
	<div class="sidebar">
		{{>molecules-sidebar-article}}
	</div>
</div>
{{>organisms-footer }}