/* 
////////////////////////////////////////////////////////////////////////////
From 40 Weeks, so it'll need some TLC
////////////////////////////////////////////////////////////////////////////
*/

/* site-wide form styles */


/* get rid of "default" iOS button styling for submit buttons */
input[type=submit] {
  @include appearance(none);
}

*[type="submit"], *.submit {
  @include button-form;
  @include box-sizing(border-box);
  float: left;

  & + *[type="submit"], & + *.submit {
    margin-left: 1em;
  }

  @include breakpoint($m) {
    float: right;

    & + *[type="submit"], & + *.submit {
      margin-right: 1em;
    }
  }
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
textarea {
  font-family: $sans;
  @include small;
  padding: $form-padding;
  @include box-sizing(border-box);
  color: $text-color-subtle;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  width: 100%;
  border: none;
  @include border-radius(0);
  outline: none;
  background: $gray-light-8; 
  @include animate;

  &:focus {
    background: lighten($purple, 30%); 
  }
}
textarea {
  min-height: 100px;
}

input[type="checkbox"],
input[type="radio"] {
    float: left;
    margin-right: $form-padding;
}

form { 
  position: relative;
}

label {
  /* uncomment if you want to style the label, but since I'm hiding it, styles are kinda pointless
    @include paragraph;
  @include small;
  display: block;
  color: $text-color-subtle;
  margin: 1.25rem 0 .25rem;
  */

  /* to make hiding optional, wrap these styles in class "hide" */
  position: absolute;
  height: 0;
  overflow: hidden;

}

select, input[type="select"] {
  @include appearance(none);
  color: $purple;
  font-size: 1rem;
  outline: none;
  padding: .65em 40px .65em 0; /* .625em instead of .75em because the font-size is 1rem instead of @include small */
  background: url(../img/select-arrow.svg) 90% 50% no-repeat;
  position: relative;
  @include border-radius(0);
  border: none;
  @-moz-document url-prefix() { 
      background-image: none; /* since you can't make the browser UI arrow disappear in FF */
      padding: .5em 40px .5em 0; 
      border: 1px solid $border-color;
  }

  &:active, &:focus {
    @include font-regular; /* otherwise, the font size jumps around on focus */
  } 
}

.ie select, .ie input[type="select"] {
      background-image: none; /* since you can't make the browser UI arrow disappear in IE */
}

.form-group {
  position: relative;

  button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
  }
}


.field-container, .form-item { /* .form-item is the class added in Drupal forms */
  margin-bottom: 1em;
}

.inline {
  .field-container, .form-item {
    margin-bottom: 0;
  }  
  fieldset {
    margin-bottom: 1em;
  }
}

/* set input placeholder color to text color */

::-webkit-input-placeholder {
  color: $text-color-subtle;
  vertical-align: top;
}
::-moz-placeholder {
  color: $text-color-subtle;
  vertical-align: top;
}
:-ms-input-placeholder {
  color: $text-color-subtle;
  vertical-align: top;
}
:-moz-placeholder {
  color: $text-color-subtle;
  vertical-align: top;
}
