/* 
////////////////////////////////////////////////////////////////////////////
Images, iframes, figures
////////////////////////////////////////////////////////////////////////////
*/


img, iframe {
  max-width: 100%;
  display: block;
  -webkit-transform: translateZ(0);
}

figure {
  margin: 0 0 2em 0; 

  figcaption {
    @include paragraph;
    @include font-regular;
    @include small;
    color: $caption-color;
    margin-top: .5em;
  }
}

.circle {
  @include border-radius(50%);
}