.meta {
	.date {
		color: $orange;
	}

    span {
      border-right: 1px solid $border-color;
      padding-right: .5em;
      margin-right: .5em;

      &:last-child {
        border: none;
      }
	}
}