.nav-main, .nav-footer {
	li {
		display: block;
		@include divider-bottom;

		&:last-child {
			border: none;
		}

		@include breakpoint($m) {
			display: inline-block;
			@include divider-none;
			padding: 0 1em;
		}
	}
}

.nav-main {
	margin-top: $section-spacing;
	clear: both;
}

.nav-secondary {
	li {
		@include divider-bottom;
	}

	a {
		&:before {
			content: "\f178";
			font-family: "FontAwesome";
			margin-right: .5em;
		}
	}
}