.nav-main, .nav-footer {
	li {
		display: block;
		@include divider-bottom;

		@include breakpoint($m) {
			display: inline-block;
			@include divider-none;
			padding: 0 1em;
		}
	}
}

.nav-main {
	margin-top: $section-spacing;
	clear: both;
}