.nav-main {
	clear: both;
	overflow: hidden;
	max-height: 0;
	@include animate;
	background-color: tint($tan, 90%);
	margin: -1em 0 1em;

	&.active {
		max-height: 40em;
		padding: 1.5em 0;
	}

	@include breakpoint($nav-breakpoint) {
		max-height: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		@include divider-bottom;
		padding-bottom: 1em;
		border-color: $link-color;

		&#search {
			display: none;

			@include breakpoint($nav-breakpoint) {
				display: inline-block;
			}		
		}

		&:last-child {
			a {
				border: none;
			}
		}

		@include breakpoint($nav-breakpoint) {
			display: inline-block;
			@include divider-none;
			margin-right: -.3em;
		}

		a {
			@include breakpoint($nav-breakpoint) {
				padding: 1em .5em;
				border-right: $dotted-border;
				border-color: tint($tan, 75%);
			}

			@include breakpoint($l2) {
				padding: 1em;
			}
			@include breakpoint($xl) {
				padding: 1em 1.5em;
			}

		}
	}

	a {
		color: $text-color;
	}

	a.active {
		background: $mainnav-active;
		font-weight: bold;
		text-decoration: none;
	}

	form.inline { /* inline search form on mobile */
		padding: 0 1em;

		@include breakpoint($nav-breakpoint) {
			display: none;
		}		
	}
}

.nav-footer {
	li {
		display: block;
		@include divider-bottom;
		padding-bottom: 1em;
		border-color: $footer-text-color;

		&:last-child {
			a {
				border: none;
			}
		}

		@include breakpoint($nav-breakpoint) {
			display: inline-block;
			@include divider-none;
			margin-right: -.3em;
		}

		a {
			@include breakpoint($nav-breakpoint) {
				padding: 1em;
			}
		}
	}
}


.nav-secondary {
	li {
		@include divider-bottom;
		padding-left: 1.5em;
		text-indent: -1.5em;

		&:before {
			content: "\f178";
			font-family: "FontAwesome";
			margin-right: .5em;
			color: $link-color;
		}
	}
}