/* 
////////////////////////////////////////////////////////////////////////////
Error/Valid Messages (defaults are kinda messy...need to tidy up)
////////////////////////////////////////////////////////////////////////////
*/


.messages {
  li {
    @include font-bold;
    @include smallcaps;
  }
  .error {
    padding-top:10px;
    color: $error;
  }
  .success {
    color: $valid;
    padding-top:10px;
  }
}

.errorlist {
  li {
    @include font-bold;
    @include smallcaps;
    color: $error;
    padding-top:10px;
    padding-right:5px;
  }
}

.message, .error-message, .valid-message {
  display: block;
  margin: 1em 0;
  float: left;
}

.invalid {
  .error-message {
    float:none;
  }
}

.error-message, .valid-message, .message {
  margin: -.75em 0 1.75em 0;
  font-size: ms(-.5);
  clear: both;
  @include font-regular;

  a {
    @include font-regular;
  }

  ul {
    li {
      font-size: ms(-.5);
    }
  }
}

.message {
  color: tint(black, 75%);
}

.error-message {
  color: $error;
  li {
    line-height: 1;
    &:before {
      content: "\f0aa";
      font-family: "FontAwesome";
      margin-right: .375em;
      font-size: .9em;
      float: left;
    }

  }
}

.valid-message {
  color: $valid;
  &:before {
    content: "\f058";
    font-family: "FontAwesome";
    margin-right: .375em;
    font-size: .9em;
    float: left;
  }
}




/* Form notifications */

label {
  &.valid {
    color: $valid;
    font-weight: bold;
  }

  &.error {
    color: $error;
    font-weight: bold;
  }
}

input {
  &.is-valid {
    border: 1px solid $valid;
    background: lighten($valid, 70%); 
  }

  &.is-error {
    border: 1px solid $error;
    background: tint($error, 90%); 
  }
}
