.social-media {
	li {
		display: inline-block;
		font-size: 1.75em;
		margin: 0 .5em;

		@include breakpoint($l) {
			font-size: 1.25em;
		}
		@include breakpoint($l2) {
			margin: 0 .75em 0 0;
		}
	}
}

.icon-label {
	position: absolute;
	height: 0;
	overflow: hidden;
}