/* 
Modified from CSS Tricks: http://css-tricks.com/responsive-data-tables/
*/


table.responsive { 
	width: 100%; 
	border-collapse: collapse; 
	margin: 2em 0;

	td, th { 
		border: 1px solid $border-color;
		padding: 1em 2em;
		line-height: 1.5;
		vertical-align: top;
		font-size: ms(-.25);
		text-align: center;

		&:first-child {
			border-left: none;
			text-align: left;
		}
		&:last-child {
			border-right: none;
		}
	}

	th {
		border-top: none;
		color: $heading-color; 
		@include font-bold;
	}

	i {
		color: $red;
	}
}


/* 
This query will take effect for any screen smaller than 1024px
*/

@media only screen and (max-width: 1023px)  {

	/* Force table to not be like tables anymore */

	table.responsive {
		display: block; 

		thead, tbody, th, td, tr { 
			display: block; 
		}

		thead {
			display: none;
		}

		tfoot {
			clear: both;
			width: 100%;
		}
		
		tr {
			border-top: 2px solid $link-color;
			clear: both;

			&:first-child {
				border: none;
			}
		}
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid $border-color;
			position: relative;
			padding-left: 50%;

			&:last-child {
				border-bottom: none;
			}
		}

		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 1.05em; /* compensates for smallcaps styling; if no smallcaps, reset this to .8em so it matches the td padding */
			left: .7em;
			width: 45%; 
			@include font-bold;
			padding-right: 10px; 
			white-space: nowrap;
		}
	}

	/* Label for data on specific tables */
	#investment-list {
		td:nth-of-type(1):before { content: ""; }
		td:nth-of-type(2):before { content: "Sun"; }
		td:nth-of-type(3):before { content: "Mon"; }
		td:nth-of-type(4):before { content: "Tues"; }
		td:nth-of-type(5):before { content: "Wed"; }
		td:nth-of-type(6):before { content: "Thu"; }
		td:nth-of-type(7):before { content: "Fri"; }
		td:nth-of-type(8):before { content: "Sat"; }
	}
}

