.primary {
	.toggle-list {
		> li {
			margin-bottom: 0;
		}
	}
}

.toggle {
	margin-bottom: 2em;
}

.toggle-trigger {
	position: relative;
	padding: .25em 0 1em 4em;
	border-top: 1px solid $blue;

	&:before {
		content: '+';
		font-size: 1.5em;
		padding: .25em .125em;
		width: 1.25em;
		text-align: center;
		line-height: 1;
		position: absolute;
		left: 0;
		top: -1px;
		background-color: $blue;
		color: white;
	}

	&:hover {
		cursor: pointer;
		> * {
			color: $link-color-hover;
		}
	}

	&.active:before {
		content: '—';
	}		

	p {
		margin: 0;
	}

	h2, h4, h4 {
		@include animate;
		margin-bottom: 0; /* prevents funny bounce on toggle */
	}
}

.toggle-target {
	display: none;
	padding: 0 0 1em 4em;

	> * {
		//margin: 0;
	}
}	
