.primary {
	.toggle-list {
		> li {
			margin-bottom: 0;
		}
	}
}

.toggle-trigger {
	position: relative;
	padding: 1em 0 1em 1em;
	border-top: 1px solid;

	&:before {
		content: '+';
		position: absolute;
		left: 0;
	}

	&:hover {
		cursor: pointer;
		> * {
			color: $link-color-hover;
		}
	}

	&.active:before {
		content: '-';
	}		

	p {
		margin: 0;
	}

	h2, h4, h4 {
		@include animate;
		margin-bottom: 0; /* prevents funny bounce on toggle */
	}
}

.toggle-target {
	display: none;
	padding: 0 0 1em 1em;

	> * {
		//margin: 0;
	}
}	
