.twitter-footer-container, .twitter-team-container {
	background-color:$gray-light-7;
	margin-bottom: .25em;
}

.twitter-feed {
	@include container;
	padding: 0;
}

.twitter-header {
	overflow: hidden;
	padding: 1em;
	border-bottom: 1px solid white;

	p {
		display: inline-block;
		color: $orange;
		@include font-bold;
		float: left;
		margin: 0;
	}

	.fa {
		font-size: 1.5em;
		color: $orange;
		float: left;
		padding-right: 1rem;
	}
}

.tweet-container {
	overflow: hidden;
	padding: 1em;

	.avatar{
		display: none;
	}

	.tweet {
		overflow: hidden;

		a {
			color: $text-color;
			line-height: 1.5;
		}

		.username {
			@include font-bold;
			color: $link-color;
		}
	}

}
.tweet-controls {
	width: 100%;

	a {
		display: inline-block;
		float: left;
		width:50%;
		height:60px;
		text-indent: -9999em;
		@include box-sizing(border-box);
		background-color: $link-color;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 1em;

		&:active {
			background-color: $link-color-hover;
		}

		&.disabled {
			pointer-events: none;
			opacity:0.5;
		}
		&.next {
			background-image: url("../img/arrow-forward-white.svg");
		}
		&.previous {
			background-image: url("../img/arrow-back-white.svg");
			border-right: 1px solid tint($link-color, 30%);
		}
	}
}

.twitter-footer-container { // responsive styles specifically for footer widget 
	@include breakpoint($m) {
		.twitter-feed {
			position: relative;
			padding: 1em 0;
		}
		
		.twitter-header {
			position: absolute;
			left: 0;
			top: 50%;
	    	@include transform(translateX(0) translateY(-50%) translateZ(0));
			padding: 0;
			border-bottom: none;

			.fa {
				padding: 0 1rem;
			}
			
			p {
				display: none;
			}
		}

		.tweet-container {
			margin: 0 9rem 0 3rem;
			min-height: 48px; // so avatar isn't clipped
			padding: 0;
			position: relative;

			.avatar{
				position: absolute;
				top: 50%;
		    	@include transform(translateX(0) translateY(-50%) translateZ(0));
				display: block;
			}

			.tweet {
				margin-left: calc(48px + 1rem);
			}
		}

		.tweet-controls {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 8rem;

			a {
				width:50%;
				height: 100%;
			}
		}
	}
}
