<section class="primary">
	<h2>Primary</h2>
	<h3>Below the medium breakpoint (48em), .primary has 100% width. Above 48em, it occupies 8 of 12 flexible columns. At the large breakpoint (64em), it gets a right padding of 2.5%, and at the extra large breakpoint (87.5em), the right padding increases to 5%.</h3>
	{{# listItems.three }}
		{{>atoms-paragraph}}
	{{/ listItems.three }}
</section>