<section class="sidebar">
	<h2>Sidebar</h2>
	<h3>Below the medium breakpoint (48em), .primary has 100% width. Above 48em, it occupies 4 of 12 flexible columns.</h3>
	{{# listItems.one }}
		{{>atoms-paragraph}}
	{{/ listItems.one }}
</section>