<h3>Specialty Spotlight</h3>
<div class="spotlight specialty">
	{{>atoms-image-square}}
	<div class="spotlight-text">
		<h4>Oncology</h4>
		<p>Introductory text about featured service. <a href="{{url}}">Read more...</a></p>
	</div>
</div>