<div class="footer-feature specialty">
	<div class="footer-feature-title">
		<h3>Specialty Spotlight</h3>
	</div>
	<div class="footer-feature-photo">
		{{>atoms-image-square}}
	</div>
	<div class="footer-feature-text">
		<h4>Oncology</h4>
		<p>Introductory text about featured service. <a href="{{url}}">Read more...</a></p>
	</div>
</div>