<div class="footer-feature did-you-know">
	<div class="footer-feature-title">
		<h3>Did You Know?</h3>
	</div>
	<div class="footer-feature-photo">
		{{>atoms-image-square}}
	</div>
	<div class="footer-feature-text">
		<p>Did you know that we also treat small animals like rabbits, ferrets, and hamsters? <a href="{{url}}">Read more...</a></p>
	</div>			
</div>