<div class="featured-pet">
	<h3>Pet of the Month</h3>
	{{>atoms-image-circle}}
	<div class="spotlight-text">
		<h4>Tanner</h4>
		<p>15 month old mixed breed. <a href="{{url}}">Read Tanner’s story...</a></p>
	</div>
</div>