<div class="previously-featured-pets">
	<h3>Previously Featured Pets</h3>
	{{# listItems.eight }} <!-- repeats a pattern a given # of times -->
		<a href="{{url}}">{{>atoms-image-circle}}</a>
	{{/ listItems.eight }}	
</div>