<div class="blog-featured">
    {{#listItems.five}}
    <a href="#">
        <article class="blog-preview">
            <div class="blog-preview-text">
                <h3>{{day.short}} {{month.long}}, {{year.long}}</h3>
                <h2>{{headline.short}}</h2>
                <p>{{excerpt.short}}</p>
            </div>
        </article>
    </a>
    {{/listItems.five}}
</div>