<div class="concepts-featured owl-carousel">
    {{#listItems.eight}}
    <a href="{{ url }}">
        <article>
            {{>molecules-comment-count}}
            <div class="concept-content">
                <h2>{{headline.short}}</h2>
                <h3>Working Definition</h3>
                <p>{{excerpt.short}}</p>
            </div>

            <div class="concept-quote">
                <h4>{{excerpt.short}}</h4>
                <p class="discuss">Discuss &raquo;</p>
            </div>
        </article>
    </a>
    {{/listItems.eight}}
</div>