<div class="news-preview-text">
    {{>atoms-date}}
    {{>atoms-tag-list}}
    <h2><a href="#">{{headline.short}}</a></h2>
    <p>{{excerpt.long}}</p>
	<p><a href="{{url}}">Read More...</a></p>
</div>