<ul class="stats">
    <li><strong>70% </strong>of lorem ipsum are struggling with the dolor sit amet</li>
    <li><strong>8.5% </strong>of the local population are unemployed</li>
    <li><strong>14% </strong>of the local families have to lorem ispum dolor sit amet</li>
</ul>