<table class="responsive" id="service-hours">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tues</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>Acupuncture</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><i class="fa fa-circle"></i></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Cardiology</td>
		<td>&nbsp;</td>
		<td><i class="fa fa-circle"></i></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Internal Medicine</td>
		<td>&nbsp;</td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-adjust"></i></td>
	</tr>
	<tr>
		<td>Neurology</td>
		<td colspan="7" class="please-call">Please call for specific dates and times</td>
	</tr>
	<tr>
		<td>Oncology</td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
	</tr>
	<tr>
		<td>Ophthamology</td>
		<td colspan="7" class="please-call">Please call for specific dates and times</td>
	</tr>
	<tr>
		<td>Radiology</td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
	</tr>
	<tr>
		<td>CT Scans</td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
	</tr>
	<tr>
		<td>Ultrasounds</td>
		<td><i class="fa fa-adjust"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-adjust"></i></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Rehabilitation</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><i class="fa fa-circle"></i></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Surgery</td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
	</tr>
	<tr>
		<td>Surgical Evaluations</td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
		<td><i class="fa fa-circle"></i></td>
	</tr>
	</tbody>
</table>