{{> organisms-header }}
{{>atoms-image-panoramic-extra}}
<div class="container">
	<section class="primary">
		{{>organisms-news-preview-list}}
		{{>molecules-pagination}}
	</section>
	<section class="sidebar">
		{{>molecules-sidebar-form}}
		{{>molecules-sidebar-nav}}
		{{>molecules-sidebar-select}}
		{{>molecules-sidebar-form}}
		{{>molecules-sidebar-select}}
	</section>
</div>
{{>organisms-footer }}