<div class="toggle">
    <div class="toggle-trigger">
        <p><strong>{{career}}</strong></p>
    </div>
    <div class="toggle-target">
        {{>atoms-paragraph}}
        {{>atoms-unordered}}
        {{>atoms-button-link}}
    </div>
</div>
