<blockquote class="thankyou-quote">
	<p>Thank you for your extraordinary staff. They saved my cat’s life, and I am forever grateful for it.</p>
	<cite>{{owner.name}} {{owner.last}} and {{pet.name}}</cite>
</blockquote>