<div class="comment-author">          
	<p>
	    <span class="name"><a href="#">{{ author.first-name }} {{ author.last-name }}</a></span>
	    <span class="date">{{day.short}} {{month.long}}, {{year.long}}, {{hour.short}}:{{minute.long}} a.m.</span>
	    <span class="date"><a href="#">Flag</a></span>
	    <a href="#" class="comment-reply">Reply</a>
	</p>
</div>
