<div class="comment {{styleModifier}}">
    <div class="left">
        {{>molecules-comment-avatar}}
    </div>
    <div class="right">
        {{>molecules-comment-author}}
        {{>atoms-paragraph}}    
    </div>
</div>