footer {
	@include clearfix;
	clear: both;
	padding: $section-spacing*.75 0 0 0; 
	background-color: $footer-background-color;
	color: $footer-text-color;

	@include breakpoint($l2) {
		padding: $section-spacing*.75 0; 
	}	

	.footer-padding {
		@include container;
	}

	p, li {
		margin-bottom: 0;
		@include small;
	}

	a {
		color: $footer-text-color;
	}
}

.nav-footer {
	li:first-child {
		padding-left: 0;
	}
	@include breakpoint($l2) {
		float: left;
		margin-top: .625em;
	}	
}

.footer-contact {
	margin: $section-spacing 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	@include box-sizing(border-box);

	@include breakpoint($nav-breakpoint) {
		width: auto;
	}

	@include breakpoint($l2) {
		float: right;
		margin: 0;
	}	

	> * {
		display: block;
		text-align: center;
		margin: 1em auto;

		@include breakpoint($s) {
			display: table-cell;
			margin: 0;
			vertical-align: middle;
		}	
	}

	.phone {
		padding: 0 1em;
		@include breakpoint($s) {
			border-right: 1px solid;
			border-left: 1px solid;
		}	
	}

	.aaha-logo {
		width: 2em;
		margin: 0 auto;
		padding: 0 1em;
		@include opacity(.4);
	}
}

.backtotop {
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0;
	clear: both;
	text-align: center;

	a {
		color: $footer-background-color;
		padding: 1.5em;
		background-color: $gray;
		display: block;
		text-decoration: none;

		&:hover, &:active {
			background-color: $gray-light-2;
		}

		i {
			margin-right: 1em;
		}
	}

	@include breakpoint($nav-breakpoint) {
		display: none;
	}
}