footer {
	position: relative;
	@include clearfix;
	clear: both;
	width: 100%;
	padding: $section-spacing 0 0 0; 
	background-color: $footer-background-color;
	color: $footer-text-color;

	.footer-padding {
		@include container;
	}

	a {
		@include link-colored-bg;
	}

	p, li {
		margin-bottom: 0;
		@include small;
	}

	.footer-logo {
		@include breakpoint($m) {
			@include column(6);
		}
		@include breakpoint($l) {
			@include column(8);
		}
	}

	.contact-info {
		margin-bottom: $section-spacing;
		@include breakpoint($m) {
			@include column(3);
			@include last;
		}
		@include breakpoint($l) {
			@include column(2);
			@include last;
		}
	}

	.social-media {
		margin-top: 2em;
		overflow: hidden;
		@include breakpoint($m) {
			overflow: visible;
		}

		li {
			margin: 0 1.5em 0 0;
		}

		a {
			color: tint($footer-background-color, 65%);
			border-color: tint($footer-background-color, 65%);

			&:hover {
				color: white;
				border-color: white !important;
			}			
		}
	}

	.backtotop {
		text-transform: uppercase;
		letter-spacing: .1em;
		margin: 2em 0 0;
		clear: both;
		text-align: center;

		a {
			color: $footer-background-color;
			padding: 1.5em;
			background-color: tint($footer-background-color, 65%);
			display: block;
			text-decoration: none;

			&:hover, &:active {
				background-color: white;
			}

			i {
				margin-right: 1em;
			}
		}

		@include breakpoint($m) {
			display: none;
		}
	}
}

.nav-footer {
	margin-bottom: $section-spacing;
	@include breakpoint($m) {
		@include column(3);
	}
	@include breakpoint($l) {
		@include column(2);
	}

	li {
		margin-bottom: 0;
		@include small;
		border-bottom: 1px solid tint($footer-background-color, 15%);

		&:last-child {
			border: none;
		}

		a {
			padding: 1.5em 0;
			display: block;
			@include link-colored-bg;
		}

		@include breakpoint($m){
			border: none;
			a {
				padding: 0;
			}
		}
	}
}
