footer {
	@include clearfix;
	clear: both;
	padding: $section-spacing 0 0 0; 
	background-color: $footer-background-color;
	color: $footer-text-color;

	.footer-padding {
		@include container;
	}

	p, li {
		margin-bottom: 0;
		@include small;
	}
}

.nav-footer {
	li:first-child {
		padding-left: 0;
	}
	@include breakpoint($m) {
		float: left;
	}	
}

.footer-contact {
	margin-bottom: $section-spacing;
	@include breakpoint($m) {
		float: right;
	}	
}

.backtotop {
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0;
	clear: both;
	text-align: center;

	a {
		color: $footer-background-color;
		padding: 1.5em;
		background-color: $gray;
		display: block;
		text-decoration: none;

		&:hover, &:active {
			background-color: $gray-light-2;
		}

		i {
			margin-right: 1em;
		}
	}

	@include breakpoint($m) {
		display: none;
	}
}