.footer-feature {
	overflow: hidden;
	margin-bottom: 2rem;

	@include breakpoint($m) {
		@include column(6);
		@include last-col2;
	}

	.footer-feature-title {
		h3 {
			padding-left: .5em;
			margin-left: 1em;
		}
	}

	.footer-feature-photo {
		@include column(6);
		@include border-double($blue, 5px);
	
		@include breakpoint($l) {
			@include column(3);
		}
	}
	.footer-feature-text {
		@include column(6);
		padding: $grid_padding $grid_padding $grid_padding 0;
		@include last;
	
		@include breakpoint($l) {
			@include column(9);
			@include last;
		}
	}
}

.specialty, .did-you-know {
	.footer-feature-title {
		@include title-strikethrough($blue);
	}

	.footer-feature-photo {
		@include border-double($blue, 5px);
	}

	h4 {
		color: $blue;
	}

	@include breakpoint($m) {
		border-right: $dotted-border;
		margin-right: 0;
		padding-right: $grid_padding;
	}
}

.featured-pet {
	.footer-feature-title {
		@include title-strikethrough($red);
	}

	.footer-feature-photo {
		@include border-double($red, 5px);
		@include border-radius(50%);
		&:before {
			@include border-radius(50%);
		}
	}

	h4 {
		color: $red;
	}
}


.previously-featured-pets {
	a {
		@include column(3);
		@include last-col4;
		padding-bottom: $grid_padding;
	}
}

/*
.previously-featured-pets {
	@include breakpoint($m) {
		@include column(6);
		@include last;
	}
	@include breakpoint($l) {
		@include column(3);
		@include last;
	}
}
*/