.spotlight {
	.box {
		border: 1px solid $border-color;
		overflow: hidden;
	}

	img {
		@include column(3);
	}
	.spotlight-text {
		@include column(9);
		padding: $grid_padding $grid_padding $grid_padding 0;
		@include last;
	}
}

.featured-pet {
	overflow: hidden;
	img {
		@include column(6);
	}
	.spotlight-text {
		@include column(6);
		padding: $grid_padding $grid_padding $grid_padding 0;
		@include last;
	}
}

.previously-featured-pets {
	a {
		@include column(3);
		@include last-col4;
		padding-bottom: $grid_padding;
	}
}

.footer-features {
	.container > * {
		margin: 0 0 2rem 0;
	}
	.spotlight {
		@include breakpoint($l) {
			@include column(6);
		}
	}

	.featured-pet {
		@include breakpoint($m) {
			@include column(6);
		}
		@include breakpoint($l) {
			@include column(3);
		}
	}

	.previously-featured-pets {
		@include breakpoint($m) {
			@include column(6);
			@include last;
		}
		@include breakpoint($l) {
			@include column(3);
			@include last;
		}
	}
}