header {
	border-bottom: 1px solid black;
}

.header-padding {
	@include container;
	overflow: visible; /* lets dropdown nav show */
}

.main-logo {
	a {
		// background: url("../img/logo.svg") 0 0 no-repeat; SVG if possible
		background: url("../img/logo.png") 0 0 no-repeat;
		position: relative;
		display: block;
		text-indent: -9999px; 
		text-decoration: none;
		width: 525px;
		height: 153px;
		background-size: 525px 153px;
	}
}

.ie8 header .main-logo a {
	background: url("../img/logo.png") 0 0 no-repeat;
}