.highlight-box {
	border: 1px solid $border-color;
	padding: 1em;

	ul {
		@extend .nav-secondary;
		margin-bottom: 1em;
		li {
			@include divider-none;
		}
	}
}

.highlight-boxes {
	overflow: hidden;

	&.two {
		.highlight-box {
			@include breakpoint($s) {
				@include column(6);
				@include last-col2;
			}
		}
	}
	
	&.homepage {
		margin-bottom: -$section-spacing;

		.highlight-box {
			@include breakpoint($m) {
				@include column(4);
				@include last-col3;
				margin-right: 0 !important;
				width: (100%/3)  !important;				
			}
		}
	}
}