.megamenu {
	//background: transparentize($gray-light-8, .05);
	@include background-gradient-v($mainnav-active, rgba(255,255,255,.9));
	position: absolute;
	top: 100%;
	bottom: auto;
	width: 100%;
	z-index: 1;
	text-align: left;
	@include animate;
	overflow: hidden;
	max-height: 0;
	display: none;
	@include background-clip(padding-box);
	border-bottom: 0rem solid transparentize(tint($gold, 60%), .5);

	@include breakpoint($nav-breakpoint) {
		display: block;
	}

	&.active {
		max-height: 60em;
		border-width: .5rem;
	}

	.container {
		padding: $section-spacing 1em;
	}
}

.megamenu-title {
	@include title-strikethrough($gray-light-5);

	h3 {
		color: $blue;
		@include background-gradient-v($mainnav-active, tint($mainnav-active,10%));
	}

	a, a:hover, a:focus {
		color: $blue;
	}
}



#megamenu-about, #megamenu-veterinarians, #megamenu-news-events {
	.nav-secondary {
		@include column(3);
	}

	.megamenu-highlights {
		@include column(9);
		@include last;

		> * {
			@include column(6);
			@include last-col2;
		}
	}
}

#megamenu-services {
	.container {
		> * {
			@include column(3);
			@include last-col4;
		}
	}
}

#megamenu-pet-owners {
	.nav-secondary {
		@include column(3);
	}

	.megamenu-highlights {
		@include column(9);
		@include last;
	}
}

#megamenu-veterinarians, #megamenu-news-events {
	.news-preview, .date {
		margin-bottom: 0;
	}

	.news-preview-image, .tags {
		display: none;
	}

	h2 {
		@include paragraph;
		@include font-bold;
	}
}