.sidebar-article {
	margin-bottom: $section-spacing;
	position: relative;
	overflow: hidden;

	h3 {
		@include divider-bottom(5px);
	}
}

.doctor-quote {
	@include divider-top;
	@include divider-bottom;
	p {
		font-style: italic;
		margin-left: 3em;

		&:before {
			content: "“";
			font-size: 5em;
			position: absolute;
			left: 0;
			top: .5rem;
			line-height: 1;
		}
	}

	cite {
		margin-left: 3em;
	}
}