.sidebar-article {
	margin-bottom: $section-spacing;
	position: relative;
	overflow: hidden;
}

.sidebar-article-title {
	@include title-strikethrough($blue);
}

.doctor-quote {
	@include divider-top;
	@include divider-bottom;
	padding: 1em 0;
	color: $red;
	
	p {
		margin-left: 3em;
		@include font-displayitalic;
		position: relative;

		&:before {
			content: "“";
			  font-size: 5em;
			  position: absolute;
			  left: -.6em;
			  top: -.1em;
			  line-height: 1;
		}
	}

	cite {
		margin-left: 3em;
		font-family: $serif;
	}
}