<div class="megamenu" id="megamenu-about">
	<div class="container">
		{{>molecules-secondary-nav }}
		<div class="megamenu-highlights">
			<div>
				<div class="megamenu-title">
					<h3><a href="{{url}}">History</a></h3>
				</div>
				<p>{{excerpt.short}}</p>
				<p><a href="{{url}}" class="button-link">Read more</a></p>
			</div>
			<div>
				<div class="megamenu-title">
					<h3><a href="{{url}}">Mission</a></h3>
				</div>
				<p>{{excerpt.short}}</p>
				<p><a href="{{url}}" class="button-link">Read more</a></p>
			</div>
		</div>
	</div>
</div>