<div class="megamenu" id="megamenu-news-events">
	<div class="container">
		{{>molecules-secondary-nav }}
		<div class="megamenu-highlights">
			<div>
				<div class="megamenu-title">
					<h3><a href="{{url}}">Recent News</a></h3>
				</div>
				{{# listItems.two }}
				    {{>molecules-news-preview}}
				{{/ listItems.two }}	
			</div>
			<div>
				<div class="megamenu-title">
					<h3>Join Mailing List</h3>
				</div>
				<p>{{excerpt.short}}</p>
				{{>molecules-inline-form}}
			</div>
		</div>
	</div>
</div>