
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

		<script src="../../js/jquery-2.0.0b2.js"></script>

		<!-- USES JS FROM THE WORKING HERON DIRECTORY -->
		<script src="../../../../../../Sites/heron/static/js/heron.combined.min.js"></script>

		<!--
		<script>
			if (typeof jQuery != 'undefined') {		 
			    alert("jQuery library is loaded!");
			}else{
			    alert("jQuery library is not found!");		 
			}
		</script>
		-->

	</body>
</html>