<ul class="sg-colors">
	<li>
		<span class="sg-swatch red"></span>
		<span class="sg-label">$red<br>rgb(186,37,71);<br>#ba2547</span>
	</li>
	<li>
		<span class="sg-swatch blue"></span>
		<span class="sg-label">$blue<br>rgb(33,88,155);<br>#21589b</span>
	</li>
	<li>
		<span class="sg-swatch tan"></span>
		<span class="sg-label">$tan<br>rgb(178,135,84);<br>#b28754</span>
	</li>
</ul> 