<ul class="sg-colors">
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">TBD<br>$color<br>rgb();<br>hex#</span>
	</li>
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">TBD<br>$color<br>rgb();<br>hex#</span>
	</li>
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">TBD<br>$color<br>rgb();<br>hex#</span>
	</li>
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">TBD<br>$color<br>rgb();<br>hex#</span>
	</li>
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">TBD<br>$color<br>rgb();<br>hex#</span>
	</li>
	<li>
		<span class="sg-swatch"></span>
		<span class="sg-label">TBD<br>$color<br>rgb();<br>hex#</span>
	</li>
</ul>