<ul class="sg-colors">
	<li>
		<span class="sg-swatch colored-bg purple"></span>
		<span class="sg-label">$purple<br>rgb(118,126,210);</span>
	</li>
	<li>
		<span class="sg-swatch colored-bg blue"></span>
		<span class="sg-label">$orange<br>rgb(255,128,0);</span>
	</li>
	<li>
		<span class="sg-swatch colored-bg green"></span>
		<span class="sg-label">$green<br>rgb(127,196,44);</span>
	</li>
	<li>
		<span class="sg-swatch colored-bg orange"></span>
		<span class="sg-label">$orange<br>rgb(255,128,0);</span>
	</li>
	<li>
		<span class="sg-swatch colored-bg gray"></span>
		<span class="sg-label">$gray<br>rgb(128,133,135);</span>
	</li>
</ul>