<div class="sg-fonts">
	<p class="font-display">Guardian Sans Display</p>
	<p class="font-displayitalic">Guardian Sans Display Italic</p>
	<p>Guardian Sans Regular</p>
	<p><em>Guardian Sans Italic</em></p>
	<p><b>Guardian Sans Bold</b></p>
	<p class="font-bolditalic">Guardian Sans Bold Italic</p>
	<p class="font-fallback">Fallback fonts: Helvetica, Arial, sans-serif</p>
</div> 