<div class="sg-fonts">
	<p class="font-display">Display Font</p>
	<p class="font-displayitalic">Display Font Italic</p>
	<p>Font Regular</p>
	<p><em>Font Italic</em></p>
	<p><b>Font Bold</b></p>
	<p class="font-bolditalic">Font Bold Italic</p>
	<p class="font-fallback">Fallback fonts: Helvetica, Arial, sans-serif</p>
</div> 