<div class="demo-animate regular"><div class="demo-shape"></div><strong>ANIMATE REGULAR:</strong> Duration: 0.25s  Easing: ease-in-out; Property: all (Hover to see effect)</div>

<div class="demo-animate slow"><div class="demo-shape"></div><strong>ANIMATE SLOW:</strong> Duration: 0.5s  Easing: ease-in-out; Property: all (Hover to see effect)</div>

<div class="demo-animate fast"><div class="demo-shape"></div><strong>ANIMATE FAST:</strong> Duration: 0.125s  Easing: ease-in-out; Property: all (Hover to see effect)</div>