<!-- Begin .header -->
<header class="header">
	<div class="header-padding">
		<h1 class="main-logo"><a href="#">Heron</a></h1>
		{{> molecules-social-media }}
		<a href="#menu" class="menu-link" alt="Menu"><i class="fa fa-bars"></i></a>
		{{> molecules-meta-nav }}
		<div class="mobile-nav-wrapper">
			{{> molecules-main-nav }}
		</div>
	</div>
</header>
<!-- End .header -->