<header>
	<div class="header-padding">
		<h1 class="main-logo"><a href="#">{{title}}</a></h1>
		<div class="mobilenav-trigger">Menu</div>
		{{>molecules-contact-info}}
		{{>molecules-emergency}}
	</div>
	{{> molecules-main-nav }}

	{{>organisms-megamenu-about}}
	{{>organisms-megamenu-services}}
	{{>organisms-megamenu-pet-owners}}
	{{>organisms-megamenu-veterinarians}}
	{{>organisms-megamenu-news-events}}
	{{>organisms-megamenu-search}}
</header>
