{{>organisms-footer-features }}
<footer>
	<div class="footer-padding">
		{{>molecules-footer-nav}}
		<div class="footer-contact">
			{{>molecules-social-media}}
			{{>atoms-phone}}
		</div>
	</div>
	<p class="backtotop"><a href="#"><i class="fa fa-chevron-up"></i>Back to top</a></p>
</footer>