<footer>
	<div class="footer-padding">
		<div class="footer-logo">
			{{>atoms-logo-white}}
			{{>molecules-social-media}}
		</div>
		{{>molecules-footer-nav}}
		<div class="contact-info">
			<p>Copyright 2014<br>
			    The F.B. Heron Foundation<br>
			    100 Broadway, 17th Floor<br>
			    New York, NY 10005<br>
			    (212) 404-1800<br>
			    <a href="mailto:info@heronfdn.org">info@heronfdn.org</a>
			</p>			
		</div>
	</div>
</footer>