{{> organisms-header }}
<div class="container">
	{{>molecules-breadcrumbs}}
	<h1>Our Team</h1>
	<h2 class="divider-bottom">Board of Directors</h2>
	{{>organisms-bio-list}}
	<h2 class="divider-bottom">Staff</h2>
	{{>organisms-bio-list}}
</div>
{{>organisms-footer }}