{{> organisms-header }}
<div class="container">
	{{>molecules-breadcrumbs}}
	<div class="primary">
		<h1>{{name.first}} {{name.last}}</h1>
		{{>molecules-team-title}}
		{{#listItems.three}}
			{{>atoms-paragraph}}
		{{/listItems.three}}
		<h2 class="divider-bottom">In The Pulse</h2>
		{{>organisms-blog-list}}
 	</div>
	<div class="sidebar">
		{{>atoms-image-square}}
		{{>molecules-bio-contact-icons}}
		{{>atoms-blockquote}}
	</div>
</div>
{{>organisms-footer }}