{{> organisms-header }}
<div class="container">
	{{>molecules-breadcrumbs}}
</div>

{{>organisms-colored-background-blue}}

<div class="container">
	<div class="primary">
		{{>organisms-comment-thread}}
	</div>
	<div class="sidebar">
		{{>molecules-related-posts}}
		{{>molecules-related-publications}}
		{{>molecules-related-resources}}
		{{>molecules-sidebar-form}}
	</div>
</div>

{{>organisms-footer }}