{{> organisms-header }}
<div class="container">
	{{>molecules-breadcrumbs}}
	<h1>The Pulse</h1>
</div>
{{>organisms-blog-featured}}
<div class="container">
	<div class="primary">
		{{>organisms-blog-list}}
	</div>
	<div class="sidebar">
		{{>molecules-most-discussed}}
		{{>molecules-related-publications}}
	</div>
</div>
{{>organisms-footer }}