{{> organisms-header }}
<div class="container">
	{{>molecules-breadcrumbs}}
	<h1>{{ headline.medium }}</h1>
	{{>atoms-metadata}}
	{{>molecules-figure-with-caption}}
	<div class="primary">
		{{>organisms-body-text}}
		{{>molecules-tags}}
		{{>organisms-comment-thread}}
	</div>
	<div class="sidebar">
		{{>molecules-contributor}}
		{{>molecules-related-posts}}
		{{>molecules-related-publications}}
		{{>molecules-related-resources}}
		{{>molecules-most-discussed}}
	</div>
</div>
{{>organisms-footer }}